h1 {
    text-align: center;
}

header {
    background-image: url("img/header.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
    font-size: 50px;
    padding: 30px;
    color: white;
    text-shadow: 1px 1px black;
}

header a{
    color: white;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-bottom: 2px black solid;
}

nav li {
    float: right;
}

#left{
    float: left;
}

#left input{
    width: 230px;
    height: 54px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: hsl(0, 0%, 10%);
}

body
{
    margin: 0px;
}

#register:hover {
    background-color: brown;
}

input{
    background-color: hsl(0, 0%, 10%);
    color: white;
}

.side-panel{
    position: fixed;
    height: 100%;
    width: 30%;
    background-color: hsl(0, 0%, 25%);
    color: white;
    border-right: black solid 2px;
    border-left: black solid 2px;
    text-align: center;
    left: 0;
    top: 0;
}

.side-panel img{
    position: absolute;
    top: 0;
    right: 0;
}

.side-panel img:hover{
    cursor: pointer;
}

.side-panel h1{
    margin-top: 30px;
}

.side-panel input{
    margin-bottom: 10px;
}

/*footer*/
footer {
    text-align: center;
    padding: 3px;
    background-color: #b2001e;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
}