h1 {
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

header {
    background-image: url("img/header.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
    font-size: 50px;
    padding: 30px;
    color: white;
    text-shadow: 1px 1px black;
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    text-shadow: 2px 2px black;
}

nav ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-bottom: 2px black solid;
}

#left{
    float: left;
    padding: 0;
}

#left input{
    width: 230px;
    height: 55px;
}

nav li{
    float: right;
    height: 55px;
    padding: 15px;
    color: white;
    display: block;
    text-align: center;
}

nav li:hover {
    background-color: hsl(0, 0%, 10%);
    cursor: pointer;
}

body
{
    margin: 0px;
}

.special:hover {
    background-color: brown;
}

input{
    background-color: hsl(0, 0%, 25%);
    color: white;
}

#leftpanel{
    left: 0;
}

#rightpanel{
    right: 0;
}

.panel{
    position: fixed;
    height: 100%;
    width: 30%;
    background-color: hsl(0, 0%, 37%);
    color: white;
    border-right: black solid 2px;
    border-left: black solid 2px;
    text-align: center;
    top: 0;
}

.panel img{
    position: absolute;
    top: 0;
    right: 0;
}

#rightpanel img{
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(-1);
}

.panel img:hover{
    cursor: pointer;
}

.panel h1{
    margin-top: 30px;
}

.panel input{
    margin-bottom: 10px;
}

article
{

}

article h2
{
    text-align: center;
    border: 2px black solid;
}

aside
{

}

/*footer*/
footer {
    text-align: center;
    padding: 3px;
    background-color: #b2001e;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
}

.language_select {
    margin-top: 0px;
    color: white;
    background-color:hsl(0, 0%, 24%)
}

.nav_selected {
    background-color: #b2001e;
}