/*

Classes

*/

.constant {
  background-image: url("img/header.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  padding: 30px;
  background-position: bottom;
  text-shadow: 1px 1px hsl(0, 0%, 0%);
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.constant h1:hover{
  text-shadow: 2px 2px hsl(0, 0%, 0%);
  cursor: pointer;
}

.nav{
  flex-direction:row-reverse;
  list-style-type: none;
  color: hsl(0, 0%, 100%);
  width:fit-content;
  margin-left: auto;
}

.nav li{
  margin-left: auto;
  display: block;
  text-align: center;
  padding-top: 15px;
}
.nav li *{
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding: 15px;
}

.nav li:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 15%);
}

.selected{
  background-color: hsl(350, 100%, 35%);
}

.footer{
  text-align: center;
    padding: 3px;
    background-color: hsl(350, 100%, 35%);
    color: hsl(0, 0%, 100%);
    width: 100%;
}

.button{
  display: inline-block;
  width: fit-content;
  text-align: center;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  padding: 12px;
  background-color: hsl(350, 100%, 35%);
  border-radius: 10px;
  height: fit-content;
}

.button:hover{
  background-color: hsl(350, 100%, 25%);
  cursor: pointer;
}

.city{
  position: relative;
  background-color: hsl(350, 100%, 35%);
  background-size: cover;
  width: 250px;
  height: 250px;
  border-radius:100%;
  text-align: center;
  text-shadow: 2px 2px black;
  display: inline-block;
}

.city *{
  position: absolute;
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

/*

Ids

*/

/*

Tags

*/

select{
  background-color: hsl(0, 0%, 25%);
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 15px;
}

select:hover{
  background-color: hsl(0, 0%, 15%);
}