/*

Classes

*/

.constant {
  background-image: url("img/header.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  padding: 30px;
  background-position: bottom;
  text-shadow: 1px 1px hsl(0, 0%, 0%);
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.constant h1:hover{
  text-shadow: 2px 2px hsl(0, 0%, 0%);
  cursor: pointer;
}

.nav{
  flex-direction:row-reverse;
  list-style-type: none;
  color: hsl(0, 0%, 100%);
  width:fit-content;
  margin-left: auto;
}

.nav li{
  margin-left: auto;
  display: block;
  padding: 15px;
  text-align: center;
}

.nav li:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 15%);
}

.footer{
  text-align: center;
    padding: 3px;
    background-color: hsl(350, 100%, 35%);
    color: hsl(0, 0%, 100%);
    width: 100%;
}

/*

Ids

*/

/*

Tags

*/

select{
  background-color: hsl(0, 0%, 25%);
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 15px;
}

select:hover{
  background-color: hsl(0, 0%, 15%);
}